{% extends "templates/index.twig" %}

{% block content %}
	<main role="main" class="container">

		<div class="starter-template">
			<h1>Não encontrado:</h1>
			<p class="lead">{{ url }}</p>
		</div>

	</main><!-- /.container -->
	
{% endblock %}